<div
  class="card"
  style="padding: 10px; margin: 0; width: 100%; height: 100%; min-height: 42vh"
>
  <div
    class="card-block"
    style="padding: 0; margin: 0; width: 100%; height: 100%"
  >
    <div class="alert alert-danger alert-sm" role="alert" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon
              class="alert-icon"
              shape="exclamation-triangle"
            ></clr-icon>
          </div>
          <div class="alert-text">{{ error }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="progress top loop">
      <progress></progress>
    </div>
    <h4 class="card-title">
      <div style="text-align: center" style="margin: 0; padding: 0">
        <div class="clr-row" *ngFor="let row of result">
          <div class="clr-col">
            <div class="card-title" style="margin: 0; padding: 0">
              <strong>${{ row?.organicTotal | number }}</strong>
            </div>
            <div class="card-text">Total Organic Earnings</div>
          </div>
          <div class="clr-col">
            <div class="card-title" style="margin: 0; padding: 0">
              <strong>${{ row?.total | number }}</strong>
            </div>
            <div class="card-text">Total Earnings</div>
          </div>
        </div>
      </div>
    </h4>
    <div
      echarts
      style="width: 100%; height: 85%"
      [options]="options"
      [loading]="isLoading"
      theme="macarons"
      (chartInit)="onChartInit($event)"
    ></div>
  </div>
</div>

<!-- <div class="card">
  <div class="card-block" style="width: 100%; min-height: 300px">
    <div class="alert alert-danger alert-sm" role="alert" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon
              class="alert-icon"
              shape="exclamation-triangle"
            ></clr-icon>
          </div>
          <div class="alert-text">{{ error }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="progress top loop">
      <progress></progress>
    </div>
    <h4 class="card-title">
      <div style="text-align: center" style="margin: 0; padding: 0">
        <div class="clr-row">
          <div class="clr-col">
            <div class="card-title" style="margin: 0; padding: 0">
              <strong>${{ organicTotal | number }}</strong>
            </div>
            <div class="card-text">Total Organic Earnings</div>
          </div>
          <div class="clr-col">
            <div class="card-title" style="margin: 0; padding: 0">
              <strong>${{ total | number }}</strong>
            </div>
            <div class="card-text">Total Earnings</div>
          </div>
        </div>
      </div>
    </h4>

    <div
      echarts
      style="width: 100%; min-height: 100%; height: 325px"
      [options]="options"
      [loading]="isLoading"
      theme="macarons"
      [merge]="merge"
      class="overview-chart"
      width="100%"
      height="100%"
      (chartInit)="onChartInit($event)"
    ></div>
  </div>
</div> -->
