<div
  class="card clr-align-self-center"
  style="width: 100%; min-height: 400px; overflow-x: scroll; padding: 0"
>
  <div class="card-block" style="padding: 5px; margin: 0">
    <div *ngIf="isLoading" class="progress top loop">
      <progress></progress>
    </div>
    <div class="alert alert-danger alert-sm" role="alert" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon
              class="alert-icon"
              shape="exclamation-triangle"
            ></clr-icon>
          </div>
          <div class="alert-text">{{ error }}</div>
        </div>
      </div>
    </div>
    <div class="limit-height">
      <clr-datagrid
        *ngIf="data?.length; else noData"
        style="padding: 5px; margin: 0; min-height: 300px"
        class="table table-compact table-noborder"
        (clrDgRefresh)="refreshFn($event)"
        [clrDgLoading]="isLoading"
        #datagridRef
      >
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >URL</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >1st Google Result for Main KW</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >1st Result Content Type</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >RD to 1st Result (DOFOLLOW)</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >RD Velocity (Monthly)</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >PA of 1st Result</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >DA of 1st Result</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >2ND GOOGLE RESULT MAIN KW</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >2nd Result Content Type</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >RD to 2nd Result (DOFOLLOW)</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >RD Velocity (Monthly)</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >PA of 2nd Result</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >DA of 2nd Result</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >3RD GOOGLE RESULT MAIN KW</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >3rd Result Content Type</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >RD to 3rd Result (DOFOLLOW)</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >RD Velocity (Monthly)</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >PA of 3rd Result</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >DA of 3rd Result</ng-container
          >
        </clr-dg-column>

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Avg RD</ng-container
          ></clr-dg-column
        >
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Avg DA</ng-container
          ></clr-dg-column
        >
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Avg PA</ng-container
          ></clr-dg-column
        >
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Avg Monthly Velocity</ng-container
          >
        </clr-dg-column>

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >DA Opportuniy Score</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >PA Opportuniy Score</ng-container
          ></clr-dg-column
        >

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Links Opportunity Score</ng-container
          ></clr-dg-column
        >

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Opportunity to rank</ng-container
          ></clr-dg-column
        >

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Priority Score</ng-container
          ></clr-dg-column
        >

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Target Page</ng-container
          >
        </clr-dg-column>

        <clr-dg-row *ngFor="let item of data">
          <clr-dg-cell class="width">
            {{ item["url"] | pagePath }}
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="First Google Result MainKW"
              [(ngModel)]="item.firstGoogleResultMainKW"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="First Result Content Type"
              [(ngModel)]="item.firstResultContentType"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>

          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="RD"
              [(ngModel)]="item.rdToFirstResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="RD Velocity"
              [(ngModel)]="item.rdVelocity"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="PA"
              [(ngModel)]="item.paOfFirstResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>

          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="DA"
              [(ngModel)]="item.daOfFirstResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="Second Google Result MainKW"
              [(ngModel)]="item.secondGoogleResultMainKW"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="Second Result Content Type"
              [(ngModel)]="item.secondResultContentType"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="RD"
              [(ngModel)]="item.rdToSecondResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>

          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="RD Velocity"
              [(ngModel)]="item.secondRdVelocity"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="PA"
              [(ngModel)]="item.paOfSecondResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="DA"
              [(ngModel)]="item.daOfSecondResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="Third Google Result MainKW"
              [(ngModel)]="item.thirdGoogleResultMainKW"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="Third Result Content Type"
              [(ngModel)]="item.thirdResultContentType"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>

          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="RD"
              [(ngModel)]="item.rdToThirdResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="RD Velocity"
              [(ngModel)]="item.thirdRdVelocity"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="PA"
              type="number"
              [(ngModel)]="item.paOfThirdResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>

          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="DA"
              type="number"
              [(ngModel)]="item.daOfThirdResult"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.avgRD }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.avgDA }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.avgPA }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.avgVelocity }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.daOpportuniyScore }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.paOpportuniyScore }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.linksOpportuniyScore }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.opportuniyToRank }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.priorityScore }}
          </clr-dg-cell>

          <clr-dg-cell class="width">
            {{ item.targetPage ? "Yes" : "No" }}
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination
            #pagination
            [clrDgPageSize]="pageSize"
            [clrDgTotalItems]="count"
          >
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ count }}
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
    <ng-template #noData>
      <div class="not-data" *ngIf="!isLoading">
        <p>
          <img src="/assets/no_data.png" alt="" />
        </p>
        <p>There is not data <strong>Please</strong> Do the following</p>
        <ol>
          <li>
            <strong>Make sure you built the Master WQA Table </strong>
          </li>
          <li>
            <strong
              >Make sure you have URL which is marked “update on page”, “target
              with links” or “content audit”.
            </strong>
          </li>
        </ol>
      </div>
    </ng-template>
  </div>
</div>
