<div
  class="card clr-align-self-center"
  style="width: 100%; min-height: 400px; overflow-x: scroll; padding: 0"
>
  <div class="card-block" style="padding: 5px; margin: 0">
    <div *ngIf="isLoading" class="progress top loop">
      <progress></progress>
    </div>
    <div class="alert alert-danger alert-sm" role="alert" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon
              class="alert-icon"
              shape="exclamation-triangle"
            ></clr-icon>
          </div>
          <div class="alert-text">{{ error }}</div>
        </div>
      </div>
    </div>
    <div class="limit-height">
      <clr-datagrid
        *ngIf="data?.length; else noData"
        style="padding: 5px; margin: 0; min-height: 300px"
        class="table table-compact table-noborder"
        (clrDgRefresh)="refreshFn($event)"
        [clrDgLoading]="isLoading"
        #datagridRef
      >
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Priority</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Url Action</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Url</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Category</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Sessions</ng-container
          >
        </clr-dg-column>

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Ctr</ng-container
          >
        </clr-dg-column>

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >RD Links (FOLLOW)</ng-container
          >
        </clr-dg-column>

        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Main Kw</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Main Kw Position</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Main Kw Volume</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Best Kw</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Best Kw Position</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Best Kw Volume</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >DA</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >PA</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Primary Keyword</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Primary Keyword Volume</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Primary Keyword Ranking</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Secondary Keywords</ng-container
          >
        </clr-dg-column>
        <clr-dg-column class="width table-header">
          <ng-container *clrDgHideableColumn="{ hidden: false }"
            >Journey</ng-container
          ></clr-dg-column
        >
        <clr-dg-row *ngFor="let item of data">
          <clr-dg-cell class="{{ priorityClasses[item.priority] }}">
            <clr-select-container>
              <select
                clrSelect
                name="priority"
                (change)="updateItem(item, true)"
                [value]="item.priority"
                [(ngModel)]="item.priority"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </clr-select-container>
          </clr-dg-cell>
          <clr-dg-cell class="width">{{ item["urlAction"] }}</clr-dg-cell>
          <clr-dg-cell class="width">{{ item["url"] | pagePath }}</clr-dg-cell>
          <clr-dg-cell class="width">{{ item["category"] }}</clr-dg-cell>
          <clr-dg-cell class="width">{{ item["sessions"] }}</clr-dg-cell>
          <clr-dg-cell class="width">{{
            item["ctr"] | number: "1.1-2"
          }}</clr-dg-cell>

          <clr-dg-cell class="width">
            <clr-control-container>
              <input
                clrControl
                type="number"
                placeholder="RD"
                [(ngModel)]="item.rdLinks"
                (keyup)="updateItem(item)"
              />
            </clr-control-container>
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <clr-tooltip>
              <span clrTooltipTrigger>
                {{
                  item["mainKw"]?.length > 50
                    ? (item["mainKw"] | slice: 0:50) + ".."
                    : item["mainKw"]
                }}</span
              >
              <clr-tooltip-content
                clrPosition="tooltip-bottom-right"
                clrSize="sm"
                *clrIfOpen
              >
                {{ item["mainKw"] }}
              </clr-tooltip-content>
            </clr-tooltip>
          </clr-dg-cell>
          <clr-dg-cell class="width">{{ item["mainKwPosition"] }}</clr-dg-cell>
          <clr-dg-cell class="width">{{ item["mainKwVolume"] }}</clr-dg-cell>
          <clr-dg-cell class="width">
            <clr-tooltip>
              <span clrTooltipTrigger>
                {{
                  item["bestKw"]?.length > 50
                    ? (item["bestKw"] | slice: 0:50) + ".."
                    : item["bestKw"]
                }}</span
              >
              <clr-tooltip-content
                clrPosition="tooltip-bottom-right"
                clrSize="sm"
                *clrIfOpen
              >
                {{ item["bestKw"] }}
              </clr-tooltip-content>
            </clr-tooltip>
          </clr-dg-cell>
          <clr-dg-cell class="width">{{ item["bestKwPosition"] }}</clr-dg-cell>
          <clr-dg-cell class="width">{{ item["bestKwVolume"] }}</clr-dg-cell>
          <clr-dg-cell class="width">
            <clr-control-container>
              <input
                clrControl
                placeholder="DA"
                [(ngModel)]="item.da"
                (keyup)="updateItem(item)"
              />
            </clr-control-container>
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="PA"
              [(ngModel)]="item.pa"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="Primary Keyword"
              [(ngModel)]="item.primaryKeyword"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="Volume"
              type="number"
              [(ngModel)]="item.primaryKeywordVolume"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              type="number"
              placeholder="Ranking"
              [(ngModel)]="item.primaryKeywordRanking"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <input
              clrControl
              placeholder="Secondary Keywords"
              [(ngModel)]="item.secondaryKeywords"
              (keyup)="updateItem(item)"
            />
          </clr-dg-cell>
          <clr-dg-cell class="width">
            <clr-select-container>
              <select
                clrSelect
                name="journey"
                (change)="updateItem(item)"
                [value]="item.journey"
                [(ngModel)]="item.journey"
              >
                <option value="Consider">Consider</option>
                <option value="Attention">Attention</option>
                <option value="Awareness">Awareness</option>
                <option value="Discover">Discover</option>
                <option value="Customer">Customer</option>
              </select>
            </clr-select-container>
          </clr-dg-cell>

          <clr-dg-row-detail *clrIfExpanded [clrDgReplace]="true">
            <clr-dg-cell class="width">
              <clr-select-container>
                <select
                  clrSelect
                  name="priority"
                  (change)="updateItem(item, true)"
                  [value]="item.priority"
                  [(ngModel)]="item.priority"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </clr-select-container>
            </clr-dg-cell>
            <clr-dg-cell class="width">{{ item["urlAction"] }}</clr-dg-cell>
            <clr-dg-cell class="width">{{
              item["url"] | pagePath
            }}</clr-dg-cell>
            <clr-dg-cell class="width">{{ item["category"] }}</clr-dg-cell>
            <clr-dg-cell class="width">{{ item["sessions"] }}</clr-dg-cell>
            <clr-dg-cell class="width">{{
              item["ctr"] | number: "1.1-2"
            }}</clr-dg-cell>

            <clr-dg-cell class="width">
              <clr-control-container>
                <input
                  clrControl
                  type="number"
                  placeholder="RD"
                  [(ngModel)]="item.rdLinks"
                  (keyup)="updateItem(item)"
                />
              </clr-control-container>
            </clr-dg-cell>
            <clr-dg-cell class="width">
              {{ item["mainKw"] }}
            </clr-dg-cell>
            <clr-dg-cell class="width">{{
              item["mainKwPosition"]
            }}</clr-dg-cell>
            <clr-dg-cell class="width">{{ item["mainKwVolume"] }}</clr-dg-cell>
            <clr-dg-cell class="width">
              {{ item["bestKw"] }}
            </clr-dg-cell>
            <clr-dg-cell class="width">{{
              item["bestKwPosition"]
            }}</clr-dg-cell>
            <clr-dg-cell class="width">{{ item["bestKwVolume"] }}</clr-dg-cell>
            <clr-dg-cell class="width">
              <clr-control-container>
                <input
                  clrControl
                  placeholder="DA"
                  [(ngModel)]="item.da"
                  (keyup)="updateItem(item)"
                />
              </clr-control-container>
            </clr-dg-cell>
            <clr-dg-cell class="width">
              <input
                clrControl
                placeholder="PA"
                [(ngModel)]="item.pa"
                (keyup)="updateItem(item)"
              />
            </clr-dg-cell>
            <clr-dg-cell class="width">
              <input
                clrControl
                placeholder="Primary Keyword"
                [(ngModel)]="item.primaryKeyword"
                (keyup)="updateItem(item)"
              />
            </clr-dg-cell>
            <clr-dg-cell class="width">
              <input
                clrControl
                placeholder="Volume"
                type="number"
                [(ngModel)]="item.primaryKeywordVolume"
                (keyup)="updateItem(item)"
              />
            </clr-dg-cell>
            <clr-dg-cell class="width">
              <input
                clrControl
                type="number"
                placeholder="Ranking"
                [(ngModel)]="item.primaryKeywordRanking"
                (keyup)="updateItem(item)"
              />
            </clr-dg-cell>
            <clr-dg-cell class="width">
              <input
                clrControl
                placeholder="Secondary Keywords"
                [(ngModel)]="item.secondaryKeywords"
                (keyup)="updateItem(item)"
              />
            </clr-dg-cell>
            <clr-dg-cell class="width">
              <clr-select-container>
                <select
                  clrSelect
                  name="journey"
                  (change)="updateItem(item)"
                  [value]="item.journey"
                  [(ngModel)]="item.journey"
                >
                  <option value="Consider">Consider</option>
                  <option value="Attention">Attention</option>
                  <option value="Awareness">Awareness</option>
                  <option value="Discover">Discover</option>
                  <option value="Customer">Customer</option>
                </select>
              </clr-select-container>
            </clr-dg-cell>
          </clr-dg-row-detail>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination
            #pagination
            [clrDgPageSize]="pageSize"
            [clrDgTotalItems]="count"
          >
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ count }}
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
    <ng-template #noData>
      <div class="not-data" *ngIf="!isLoading">
        <p>
          <img src="/assets/no_data.png" alt="" />
        </p>
        <p>There is not data <strong>Please</strong> Do the following</p>
        <ol>
          <li>
            <strong>Make sure you built the Master WQA Table </strong>
          </li>
          <li>
            <strong
              >Make sure you have URL which is marked “update on page”, “target
              with links” or “content audit”.
            </strong>
          </li>
        </ol>
      </div>
    </ng-template>
  </div>
</div>
