.header {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.content-area {
  padding: 0 !important;
}

button.nav-link {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  border-radius: 20%;
  cursor: pointer;
}
.header {
  // background-color: #0072a3;
  // color: #fff !important;
  color: #0072a3;
  border-bottom: 2px solid #0072a3;
}

.separador {
  margin-top: 5px;
  overflow: hidden;
  height: 5px;
}

.separador:after {
  content: "";
  display: block;
  width: 90%;
  height: 30px;
  margin: -30px auto 0;
  border-radius: 120px / 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

::ng-deep {
  .header-actions span strong,
  .header-actions .nav-link {
    color: #0072a3 !important;
    opacity: 1 !important;
  }
  .header strong,
  .header span strong {
    color: #0072a3 !important;
  }
  .header-overflow-trigger > span,
  .header-overflow-trigger > span::before,
  .header-overflow-trigger > span::after {
    background-color: black !important;
  }
  .header-hamburger-trigger > span,
  .header-hamburger-trigger > span::before,
  .header-hamburger-trigger > span::after {
    background-color: black !important;
  }
  nav.sidenav.clr-nav-level-1 {
    background-color: white !important;
  }
}
